{{define "index"}}
<html>
  <head>
    {{template "_header" .}}
  </head>
  <body>
    <p>Page: Form</p>
    <form method="post" action="/message-delivered">
      <label>Name :</label>
      <input type="text" placeholder="Type name here" name="name" required />
      <br />

      <label>Message :</label>
      <input type="text" placeholder="Type message here" name="message" required />
      <br />

      <button type="submit">Print</button>
    </form>
  </body>
</html>
{{end}}

{{define "result"}}
<!DOCTYPE html>
<html>
  <head>
    {{template "_header" .}}
  </head>
  <body>
    <h1>Hello {{.name}}</h1>
    <p>{{.message}}</p>
  </body>
</html>
{{end}}